@import url('https://fonts.googleapis.com/css2?family=M+PLUS+Code+Latin:wght@300&display=swap');

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: 'M PLUS Code Latin', sans-serif;
  color: #0d111f;
  font-weight: 600;
}